.venv
.env
node_modules/
__pycache__
.ruff_cache

*/__pycache__*/*
*.pyc

runs/
# data/models/
training/test/
training/train/
training/valid/
# config.toml
# config.toml.example
training/images
training/labels


frontend/.next
frontend/node_modules
frontend/next-env.d.ts
